*{
    margin: 0%;
    padding: 0%;
    color: white;
}

body{
    margin: 0;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background-color: black ;
    margin-top: 150px;
    padding: 3px;
}

.btn{
    background-color:#DDC1BE ;
}